<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312048588376-8qq6t6uf144mkrc9sb58iqosqocf23sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312048588376-8qq6t6uf144mkrc9sb58iqosqocf23sd</string>
	<key>API_KEY</key>
	<string>AIzaSyC5uZOuYTKotnWRrC_T5vbCRxFBz1-gUKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>312048588376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karshiganurlybek.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-432da</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-432da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312048588376:ios:4beb73fb8cde06908f9c2d</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-432da.firebaseio.com</string>
</dict>
</plist>